#gda {
  background-image: url("../assets/img/workerCard.jpg");
}
#epd {
  background-image: url("../assets/img/workerCard-1.jpg");
}
#nvu {
  background-image: url("../assets/img/workerCard-2.jpg");
}
#sku {
  background-image: url("../assets/img/workerCard-3.jpg");
}
